// Colours
$lime: #c0de9e;

// Navigation colours
$nav-background: $lime;
$nav-text-color: #689550;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;

