// Colours
$grey: #969696;

// Navigation colours
$nav-background: $grey;
$nav-text-color: #404040;

// Clock variables
$clock-text-color: $grey;
$clock-bg-color: #e7f0f7;
$clock-border-color: $grey;

// Main colours
$main-color: red;